---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Calibre-LightWeb", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-family: "YanoneKaffeesatz", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #191f39;
$brand-secondary-color : #fad124;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "fonts",
        "layout",
        "syntax-highlighting",
        "src/milligram"
;

h1 {
    font-family: $title-font-family;
    font-size: 150px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: $brand-color;
    line-height: 1;
    margin: 20px 0 0 0;
    padding: 0;
}

h3 {
    font-family: $title-font-family;
    font-size: 70px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: $brand-color;
    line-height: 1;
    margin: 20px 0 25px 0;
    padding: 0;
}

img.full-width-image {
  width: 100%
}

#landing {

  width: 100%;
  height: 100%;

  overflow-x: hidden;

  color: #111;

  section {
    width: 100%;
    height: 100%;
  }

  .container {
    width : 80%
  }

}

#intro {

  height: 100vh;

  .logo {
    margin: 0 auto;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  header {
    padding-top: 10em;
    text-align: center;

    h1.ludobox-logo {
      background: url("/img/ludobox-logo-color2.png") no-repeat center center;
      background-size: 80%;
      display:block;

      height:300px;
      width:300px;
    }

    h3.punchline {
      background: url("/img/ludobox-punchline1-to-change.png") no-repeat center center;
      background-size: 80%;
      display:block;

      height:300px;
      width:300px;
    }
  }
}

#description {
  background:$brand-color;
  color:#FFF;
  padding: 6em 0 4em 0;
  h5 {
    font-size: 1.7em;
  }
}

#make {
  padding: 2em 0;
  text-align: center;
  img.punchline {
    width: 200px
  }
  img.fab {
    padding: 1em 0;
    width: 300px
  }
  h5 {
    padding-top: 1em;
  }
}
#download {
  margin: 8em 0;
  text-align: center;
  p {
    font-size: 1.5em
  }
  a:first-child {
    margin-right: 1em
  }

  a {
    font-size: .6em
  }
}

#map {
  text-align: center;
  h3 {
    margin-top: 1em;
  }
  img {
    max-height: 100%
  }
  a.button {
    font-size: .8em
  }
  #ludobox-map {
    margin: 3em auto 0 0;
    width : 100%;
    height: 600px;
  }
}

#contact {
  padding: 4em;
  text-align: center;
}

#team {
  padding: 1em;
  background:$brand-color;
  text-align: center;
  color: white;
  font-size: 1.5em;
  a, a:visited {
    color: $brand-secondary-color
  }
}

#license {
  text-align: center;
  font-size: .9em;
}

// .logo {
//   text-align: center;
//   a.dcalk {
//     background: url("/uploads/dcalk_logo_small.png") no-repeat center center;
//     background-size: 100%;
//     display:block;
//     height:100px;
//     width:100px;
//     margin: 0 auto;
//
//     /* Hide the text. */
//     text-indent: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//   }
// }
