---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="landing" >
    <main>
      <div id="menu">
        <select name="languageSelector" id="languageSelector">
          <option value="en">English</option>
          <option value="fr">Français</option>
        </select>

        <label class="toggle" for="toggle">&#9776; <span>Menu</span></label>
        <input class="toggle" id="toggle" type="checkbox">
        <nav class="nav-menu">
          <a class="menu-trigger button button-primary" href="#">&#9776;</a>
          <ul>
              <li class="menu-item"><a href="#intro"><strong>Home</strong></a></li>
              <li class="menu-item"><a href="#map">Network</a></li>
              <li class="menu-item"><a href="#events">Events</a></li>
              <li class="menu-item"><a href="#contact">Contact</a></li>
              <li class="menu-item"><a href="http://box.ludobox.net">Games</a></li>
          </ul>
        </nav>
      </div>

      <section id="intro">
        <header>
          <h1 class="ludobox-logo logo" >
            Ludobox
          </h1>
          <h3 class="punchline logo">
            Print, Craft, Play
          </h3>
          <p class="browse-collection">
            <a href="http://box.ludobox.net" target="_blank" class="button button-primary">Browse Games</a>
          </p>
        </header>

      </section>
      <section id="description">
        <div class="container">
          <h5>
            Ludobox is an electronic device that distributes games in Print'n Play format (as
            digital files) into the public space. It contains dozens of files and
            instructions to make your own games and turns a Rasperry Pi into a
            pocket games library.
          </h5>
        </div>
      </section>
      <section id="make">
        <img class="punchline" src="/img/ludobox-punchline1.png" alt="Punchline">
        <h5>
          <span class="main">Print'n play are games that you can make by yourself.</span>
          <br>
          <small>
            <span class="line1">From a card game in PDF using a printer and scissors</span>
            <br>
            <span class="line2">to a board game accessing a 3D printer to reproduce tokens,</span>
            <br>
            <span class="line3">Ludobox invites to materialize & craft digital files.</span>
          </small>
        </h5>
        <img class="fab" src="/img/fablab_machinescfao2.png" alt="">
      </section>
      <img class="full-width-image" src="/uploads/ludobox-box-web.jpg" alt="Ludobox Box Image">
      <section id="download">
        <h3 class="title">Make your own Box</h3>
        <div class="container">
          <h5>
            <span class='line1'>
              You can build your own box from scratch
            </span>
            <br>
            <span class="line2">
              or directly download games from our online collection.
            </span>
          </h5>
        </div>
        <p>
          <a href="https://hackmd.io/s/Skje3bygW" class="button" target="_blank">Create your own Box</a>
        </p>
      </section>
      <img class="full-width-image" src="/uploads/ludobox-event-play-web.jpg" alt="Ludobox Box Image">
      <section id="map">
        <h3>Join The Network</h3>
        <div class="container">
          <h5 class="text">
            Everyone is welcome to grow the collection through games design, remix and translation, to develop the device, mediate a workshop or organize an event in his or her own district !
          </h5>
          <!-- <a href="#" class="button">Add your box</a> -->
        </div>
        {% include map.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-workshop-kids.jpg" alt="Ludobox Kids Workshop">
      <section id="events">
        <h3>Upcoming Events</h3>
        {% include events.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-public-event.jpg" alt="Ludobox Public Event">
      <section id="contact" class="container" >
        <h3>Get in Touch</h3>
        <h5>
          <span class="line1">Interested in installing a Ludobox ?</span>
          <br>
          <span class="line2">Organizing a game festival ?</span>
          <br>
          <span class="line3">Experimenting with collaboration and games?</span>
          <br>
          <span class="line4">Inventing or publishing open-source games?</span>
          <br>
          <br>
          <span id="contact-text">Contact us at :</span> <a href="mailto:contact@ludobox.net">contact@ludobox.net</a>
        </h5>
        {% include social.html %}
      </section>
      <section id="team">
      <!--
        {% include team.html %}
      -->
      </section>
      {% include footer.html %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" charset="utf-8"></script>
    <script src="https://unpkg.com/i18next/i18next.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
      console.log("ready");

      getLanguageData("en", function(en) {
        getLanguageData("fr", function(fr) {
          initI18n(en, fr)
        })
      })

      function getLanguageData(lgCode, callback) {
        console.log(lgCode);
        $.getJSON("/i18n/" + lgCode + ".json", null, function(lgData) {
          callback(lgData);
        })
        .fail(function(jqXHR, textStatus, err) { throw err })
      }

      function initI18n(enTranslation, frTranslation) {
          console.log(enTranslation, frTranslation);

          i18next.init({
            lng: 'en',
            debug: true,
            resources: {
              en : { translation : enTranslation },
              fr : { translation : frTranslation }
              }
          }, function(err, t) {
            if(err) throw(err)
            // init set content
            updateContent();
          });
      }

      $('select').on('change', function() {
        i18next.changeLanguage(this.value);
      })

      function updateContent() {
        console.log(i18next.t('description'));
        $('#description h5').html( i18next.t('description') );

        $('.browse-collection a').text( i18next.t('mainButton') );

        $('#make .main').html( i18next.t('make.main') );
        $('#make .line1').html( i18next.t('make.line1') );
        $('#make .line2').html( i18next.t('make.line2') );
        $('#make .line3').html( i18next.t('make.line3') );

        $('#download h3').html( i18next.t('download.title') );
        $('#download .line1').html( i18next.t('download.line1') );
        $('#download .line2').html( i18next.t('download.line2') );
        $('#download a').text( i18next.t('download.button') );

        $('#map h3').html( i18next.t('map.title') );
        $('#map .text').html( i18next.t('map.text') );

        $('#events h3').html( i18next.t('events.title') );

        $('#contact h3').html( i18next.t('contact.title') );
        $('#contact .line1').html( i18next.t('contact.line1') );
        $('#contact .line2').html( i18next.t('contact.line2') );
        $('#contact .line3').html( i18next.t('contact.line3') );
        $('#contact .line4').html( i18next.t('contact.line4') );
        $('#contact-text').html( i18next.t('contact.contact') );

        $('footer .support').text( i18next.t('footer.support') );
        $('footer .powered').text( i18next.t('footer.powered') );

      }


      i18next.on('languageChanged', () => {
        updateContent();
      });


      // events
      var now = new Date()
      $("#events li").each(function(i, li){
        var t = $(li).find("time").attr("datetime")
        if(Date.parse(t) < now)  $(li).css({ "color" : "#CCC" })
      })

  }) // end jQuery

    </script>
  </body>
</html>
