<footer class="site-footer">

  <p class="support">With the support :</p>

  <ul id="logos">
    <li>
      <a href="http://www.institutfrancais.com">
        <img src="/uploads/logos/250px-Institut-francais.png" />
      </a>
    </li>
    <li>
      <a href="http://www.culturalfoundation.eu">
        <img src="/uploads/logos/European-Culture-Fondation-@-Laculture.info_.png" />
      </a>
    </li>
    <li>
      <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques">
        <img src="/uploads/logos/la-fabrique-d-usages-numeriques.png" />
      </a>
    </li>
    <li>
      <a href="http://www.culturecommunication.gouv.fr">
        <img src="/uploads/logos/logo mcc.jpg" />
      </a>
    </li>
    <li>
      <a href="http://www.museecarteajouer.com/">
        <img src="/uploads/logos/logo-musée-Issy.png" />
      </a>
    </li>
    <li>
      <a href="http://www.makery.info">
        <img src="/uploads/logos/makery_logo_white.png" />
      </a>
    </li>
  </ul>

  <div class="container">
    <p><span class="powered">Powered by</span> <a href="http://dcalk.org" target="_blank">DCALK</a>
      <br>
      {% include logos/cc.html %}
    </p>
  </div>
</footer>
