<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="landing" >
    <main>
      <section id="intro">
        <header>
          <h1 class="ludobox-logo logo" >
            Ludobox
          </h1>
          <h3 class="punchline logo">
            Print, Craft, Play
          </h3>
        </header>
      </section>
      <section id="description">
        <div class="container">
          <h5>
            <!-- {{ site.description }} -->
            Ludobox is an electronic device to distribute games from the public domain into the public space. It contains dozens of blueprints, documents and instructions to make your own games and turn any surroundings into a playful environment.
          </h5>
        </div>
      </section>
      <section id="make">
        <img class="punchline" src="/img/ludobox-punchline1.png" alt="Punchline">
        <h5>
          Print'n play are games that you can fabricate by yourself.
          <br>
          Paper, card decks, scissor, dices, 3D printer, laser cutter, etc.
        </h5>
        <img class="fab" src="/img/fablab_machinescfao2.png" alt="">
      </section>
      <img class="full-width-image" src="/uploads/ludobox-box-web.jpg" alt="Ludobox Box Image">
      <section id="download">
        <h3>Make your own Box</h3>
        <div class="container">
          <h5>
            You can build your own box from scratch
            <br>
            or directly download games from our online collection.
          </h5>
        </div>
        {% include download.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-event-play-web.jpg" alt="Ludobox Box Image">
      <section id="map">
        <h3>Join The Network</h3>
        <div class="container">
          <h5>
            Players, game designers, developers, cultural mediators, translators...
            <br>
            Everyone is welcome to spread playfulness in his or her own district.
          </h5>
          <a href="#" class="button">Add your box</a>
        </div>
        {% include map.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-workshop-kids.jpg" alt="Ludobox Kids Workshop">
      <section id="contact" class="container" >
        <h3>Get in Touch</h3>
        <h5>
          Interested in installing a Ludobox ?
          <br>
          Organizing a game festival ?
          <br>
          Experimenting with collaboration and games?
          <br>
          Inventing or publishing open-source games?
          <br>
          <br>
          Contact us at : <a href="mailto:">Cath&Julien@ludobox.net</a>
        </h5>
        {% include social.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-public-event.jpg" alt="Ludobox Public Event">
      <section id="team">
        <div class="container">
          <p>Powered by <a href="http://dcalk.org" target="_blank">DCALK</a>
            <br>
            {% include logos/cc.html %}
          </p>
        </div>
      <!--
        {% include team.html %}
      -->
      </section>
    </main>
  </body>
</html>
