<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="landing" >
    <main>
      <section id="intro">
        <header>
          <h1 class="ludobox-logo logo" >
            Ludobox
          </h1>
          <h3 class="punchline logo">
            Print, Craft, Play
          </h3>
        </header>
      </section>
      <section id="description">
        <div class="container">
          <h5>
            <!-- {{ site.description }} -->
            Ludobox is a public library that displays dozens of games from different cities and countries (board, card games…): PRINT freely & PLAY passionately, from 7 to (1)77 years-old! Kinda
          </h5>
        </div>
      </section>
      <img class="full-width-image" src="/uploads/ludobox-box-web.jpg" alt="Ludobox Box Image">
      <section id="download">
        <h3>Make your Box</h3>
        <div class="container">
          <h5>
            You can build your own box from scratch or access our game library online.
          </h5>
        </div>
        {% include download.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-event-play-web.jpg" alt="Ludobox Box Image">
      <section id="map">
        <h3>Join The Network</h3>
        <div class="container">
          <h5>
            Players, Game Designers, Developers, Cultural Mediators, Translators...
            <br>
            Anyone can spread playfulness in his/her own area.
          </h5>
        </div>
        {% include map.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-workshop-kids.jpg" alt="Ludobox Kids Workshop">
      <section id="contact" class="container" >
        <h3>Get in Touch</h3>
        <h5>
          Interested in installing a Ludobox ?
          <br>
          Organizing a game festival ?
          <br>
          Experimenting with collaboration and playing games?
          <br>
          <br>
          Contact us at : <a href="mailto:">Cath&Julien@ludobox.net</a>
        </h5>
        {% include social.html %}
      </section>
      <img class="full-width-image" src="/uploads/ludobox-public-event.jpg" alt="Ludobox Public Event">
      <section id="team">
        <div class="container">
          <p>Powered by <a href="http://dcalk.org" target="_blank">DCALK</a>
            <br>
            {% include logos/cc.html %}
          </p>
        </div>
      <!--
        {% include team.html %}
      -->
      </section>
    </main>
  </body>
</html>
